<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="akermann_robot">

    <!-- Example link -->
    <xacro:include filename="properties.xacro"/>
    <xacro:include filename="ackerman_core.xacro"/>

    <xacro:include filename="lidar_a1.xacro"/>
    <xacro:include filename="imu_a.xacro"/>
    

    

</robot>