<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="zulu_robot">

    <!-- Example link -->
    <xacro:include filename="$(find charlie_description)/macros/properties.xacro"/>
    <xacro:include filename="robot_core.xacro"/>

    <!-- Sensors -->
    <xacro:include filename="$(find charlie_description)/sensors/lidar.xacro"/> <!-- Lidar sensor -->

    <xacro:include filename="$(find charlie_description)/sensors/depth_camera.xacro"/> <!-- Camera sensor -->

    <xacro:include filename="$(find charlie_description)/sensors/imu.xacro"/> <!-- IMU sensor -->    

    

    <!-- ros2_control -->
    <xacro:include filename="ros2_control.xacro"/>
    

</robot>