<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Include macros -->
    <xacro:include filename="$(find charlie_description)/macros/inertial_macros.xacro"/>

    <xacro:property name="rad_w" value="0.053"/>
    <xacro:property name="le_w" value="0.045"/>
    <xacro:property name="ly" value="0.11072"/>
    <xacro:property name="lx" value="0.367"/>
    <xacro:property name="lz" value="0.058"/>
    <xacro:property name="bscy" value="0.01"/>
    <xacro:property name="bscx" value="0.01"/>
    <xacro:property name="bscz" value="0.043"/>
    <xacro:property name="bhz" value="0.025"/>
    <xacro:property name="bhy" value="0.075"/>
    <xacro:property name="bhx" value="0.025"/>
    <xacro:property name="imu_lx" value="0.03"/>
    <xacro:property name="imu_ly" value="0.03"/>
    <xacro:property name="imu_lz" value="0.01"/>

    <xacro:macro name="phantom_steer_link" params="p_name">
        <link name="${p_name}">
            <inertial>
                <mass value="0.05"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
            </inertial>
        </link>
    </xacro:macro>

    <xacro:macro name="wheel_macro" params="p_name p_radius p_width">
        <link name="${p_name}">
            <visual>
                <geometry>
                    <cylinder radius="${p_radius}" length="${p_width}"/>
                </geometry>
                <material name="black"/>
            </visual>
            <collision>
                <geometry>
                    <sphere radius="${p_radius}" />
                </geometry>
            </collision>
            <xacro:inertial_cylinder mass="0.1" length="${p_width}" radius="${p_radius}">
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:inertial_cylinder>
        </link>
        <gazebo reference="${p_name}">
            <mu1>1.0</mu1>          
            <mu2>0.5</mu2>          
            <kp>10000000.0</kp>     
            <kd>1.0</kd>            
            <minDepth>0.001</minDepth> 
            <maxVel>0.1</maxVel>    
        </gazebo>
    </xacro:macro>

    <xacro:macro name="barras" params="p_name p_x p_y p_z">
        <link name="${p_name}">
            <visual>
                <origin xyz="0 0 0"/>
                <geometry>
                    <box size="${p_x} ${p_y} ${p_z}"/>
                </geometry>
                <material name="orange"/>
            </visual>
            <collision>
                <origin xyz="0 0 0"/>
                <geometry>
                <box size="${p_x} ${p_y} ${p_z}"/>
                </geometry>
            </collision>
            <xacro:inertial_box mass="2.0" x="${p_x}" y="${p_y}" z="${p_z}">
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:inertial_box>
        </link>
    </xacro:macro>

    <xacro:macro name="barra_horizontal" params="p_name p_x p_y p_z origin">
        <link name="${p_name}">
            <visual>
                <origin xyz="0 ${origin} 0"/>
                <geometry>
                    <box size="${p_x} ${p_y} ${p_z}"/>
                </geometry>
                <material name="orange"/>
            </visual>
            <collision>
                <origin xyz="0 ${origin} 0"/>
                <geometry>
                <box size="${p_x} ${p_y} ${p_z}"/>
                </geometry>
            </collision>
            <xacro:inertial_box mass="2.0" x="${p_x}" y="${p_y}" z="${p_z}">
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:inertial_box>
        </link>
    </xacro:macro>

    <link name="base_link"></link>

    <joint name="base_link_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="0 0 ${0.055+(lz/2)}"/>    
    </joint>

    <link name="chassis">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="${lx} ${ly} ${lz}"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
               <box size="${lx} ${ly} ${lz}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="5.0" x="${lx}" y="${ly}" z="${lz}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <joint name="chassis_soporte" type="fixed">
        <parent link="chassis"/>
        <child link="soporte"/>
        <origin xyz="0 0 ${(lz/2)+(bscz)+0.002}"/>    
    </joint>

    <link name="soporte">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="${lx} ${ly} ${0.004}"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
               <box size="${lx} ${ly} ${0.004}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="5.0" x="${lx}" y="${ly}" z="${0.004}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <joint name="chassis_verticalbar_1" type="fixed">
        <parent link="chassis"/>
        <child link="barra_vertical_tr_link"/>
        <origin xyz="${-0.257/2} ${ly/3} ${bscz+0.008}"/>    
    </joint>
    <xacro:barras p_name="barra_vertical_tr_link" p_x="${bscx}" p_y="${bscy}" p_z="${bscz}"/>

    <joint name="chassis_verticalbar_2" type="fixed">
        <parent link="chassis"/>
        <child link="barra_vertical_tr_l_link"/>
        <origin xyz="${-0.257/2} ${-ly/3} ${bscz+0.008}"/>    
    </joint>
    <xacro:barras p_name="barra_vertical_tr_l_link" p_x="${bscx}" p_y="${bscy}" p_z="${bscz}"/>

    <joint name="chassis_verticalbar_3" type="fixed">
        <parent link="chassis"/>
        <child link="barra_vertical_de_link"/>
        <origin xyz="${0.257/2} ${ly/3} ${bscz+0.008}"/>    
    </joint>
    <xacro:barras p_name="barra_vertical_de_link" p_x="${bscx}" p_y="${bscy}" p_z="${bscz}"/>

    <joint name="chassis_verticalbar_4" type="fixed">
        <parent link="chassis"/>
        <child link="barra_vertical_de_l_link"/>
        <origin xyz="${0.257/2} ${-ly/3} ${bscz+0.008}"/>    
    </joint>
    <xacro:barras p_name="barra_vertical_de_l_link" p_x="${bscx}" p_y="${bscy}" p_z="${bscz}"/>


    <joint name="chassis_horizontalbar_tr" type="fixed">
        <parent link="chassis"/>
        <child link="barra_horizontal_tr_link"/>
        <origin xyz="${-0.257/2} 0.035  ${-(lz+bhz)/2}" rpy="0 0 0"/>
    </joint>
    <xacro:barra_horizontal p_name="barra_horizontal_tr_link" p_x="${bhx}" p_y="${bhy}" p_z="${bhz}" origin="${0.0175}"/>

    <joint name="rightb_wheel_joint" type="continuous">
        <parent link="barra_horizontal_tr_link"/>
        <child link="rightb_wheel"/>
        <origin xyz="0 ${0.055+le_w/2} 0" rpy="-${pi/2} 0 0"/>
        <axis xyz="0 0 1"/>    
        <dynamics damping="0.2" friction="0.0"/>
    </joint>
    <xacro:wheel_macro p_name="rightb_wheel" p_radius="${rad_w}" p_width="${le_w}"/>


    <joint name="chassis_horizontalbar_ti" type="fixed">
        <parent link="chassis"/>
        <child link="barra_horizontal_ti_link"/>
        <origin xyz="${-0.257/2} -0.035  ${-(lz+bhz)/2}" rpy="0 0 0"/>
    </joint>
    <xacro:barra_horizontal p_name="barra_horizontal_ti_link" p_x="${bhx}" p_y="${bhy}" p_z="${bhz}" origin="${-0.0175}"/>

    <joint name="leftb_wheel_joint" type="continuous">
        <parent link="barra_horizontal_ti_link"/>
        <child link="leftb_wheel"/>
        <origin xyz="0 ${-(0.055+le_w/2)} 0" rpy="-${pi/2} 0 0"/>
        <axis xyz="0 0 1"/>    
        <dynamics damping="0.2" friction="0.0"/>
    </joint>
    <xacro:wheel_macro p_name="leftb_wheel" p_radius="${rad_w}" p_width="${le_w}"/>


    <joint name="chassis_horizontalbar_fr" type="fixed">
        <parent link="chassis"/>
        <child link="barra_horizontal_fr_link"/>
        <origin xyz="${0.257/2} 0.035  ${-(lz+bhz)/2}" rpy="0 0 0"/>
    </joint>
    <xacro:barra_horizontal p_name="barra_horizontal_fr_link" p_x="${bhx}" p_y="${bhy}" p_z="${bhz}" origin="${0.0175}"/>

    <xacro:phantom_steer_link p_name="right_steering_link"/>
    <joint name="right_steering_joint" type="revolute">
        <parent link="barra_horizontal_fr_link"/>
        <child link="right_steering_link"/>
        <origin xyz="0 ${0.055+le_w/2} 0" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit effort="5.0" lower="-${pi/4}" upper="${pi/4}" velocity="5.0"/>
        <dynamics damping="0.2" friction="0.1"/> 
    </joint>

    <joint name="rightf_wheel_joint" type="continuous">
        <parent link="right_steering_link"/>
        <child link="rightf_wheel"/>
        <origin xyz="0 0 0" rpy="-${pi/2} 0 0"/>
        <axis xyz="0 0 1"/>    
        <dynamics damping="0.2" friction="0.0"/>
    </joint>
    <xacro:wheel_macro p_name="rightf_wheel" p_radius="${rad_w}" p_width="${le_w}"/>


    <joint name="chassis_horizontalbar_fi" type="fixed">
        <parent link="chassis"/>
        <child link="barra_horizontal_fi_link"/>
        <origin xyz="${0.257/2} -0.035  ${-(lz+bhz)/2}" rpy="0 0 0"/>
    </joint>
    <xacro:barra_horizontal p_name="barra_horizontal_fi_link" p_x="${bhx}" p_y="${bhy}" p_z="${bhz}" origin="${-0.0175}"/>

    <xacro:phantom_steer_link p_name="left_steering_link"/>
    <joint name="left_steering_joint" type="revolute">
        <parent link="barra_horizontal_fi_link"/>
        <child link="left_steering_link"/>
        <origin xyz="0 ${-(0.055+le_w/2)} 0" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit effort="5.0" lower="-${pi/4}" upper="${pi/4}" velocity="5.0"/>
        <dynamics damping="0.2" friction="0.1"/> 
    </joint>

    <joint name="leftf_wheel_joint" type="continuous">
        <parent link="left_steering_link"/>
        <child link="leftf_wheel"/>
        <origin xyz="0 0 0" rpy="-${pi/2} 0 0"/>
        <axis xyz="0 0 1"/>    
        <dynamics damping="0.2" friction="0.0"/>
    </joint>
    <xacro:wheel_macro p_name="leftf_wheel" p_radius="${rad_w}" p_width="${le_w}"/>

</robot>